body {
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
}

.row {
	margin-top: 15px;
	background-color: gray;
}

/* Header */
#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant Name */
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list {
	margin-top: 10px;
}

#nav-list a {
	color: #951C49;
	text-align: center;
}

#nav-list a:hover {
	background: #E7E7E7;
}

#nav-list a span {
	font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border:1px solid #61122f;
}

.navbar-header button.navbar-toggle {
/*	clear: both;*/
	/*margin-top: -30px;*/
}

/* Large Devices */
@media (min-width: 1200px) {
	#nav-list {
		visibility: hidden;
	}
	.navbar-brand h1 { 
		font-size: 2vw; /* 1vw = 1% of viewport width */
	}			
}

/* Medium Devices */
@media (min-width: 992px) and (max-width: 1199px){
	#nav-list {
		visibility: hidden;
	}	
	.navbar-brand h1 { 
		font-size: 2.5vw; /* 1vw = 1% of viewport width */
	}		
}

/* Small Devices */
@media (min-width: 768px) and (max-width: 991px) {
	#nav-list {
		visibility: hidden;
	}	
	.navbar-brand h1 { 
		font-size: 3vw; /* 1vw = 1% of viewport width */
	}	
}

/* Extra Small Devices */
@media (min-width: 480px) and (max-width: 767px) {

	.row {
		margin-left: 10px;
		margin-right: 10px;		
	}

	/* Header */
	.navbar-brand { 
		padding-top: 10px;
		padding-bottom: 10px;		
	}
	.navbar-brand h1 { 
		padding-top: 5px;
		font-size: 4vw; /* 1vw = 1% of viewport width */
	}
	#collapsable-nav a { /* Collapsed nav menu glyph */
		font-size: 1.2em;
	}
	#collapsable-nav #nav-list a span {
		font-size: 1em;
		margin-right: 5px;
	}
	/* End of Header */	
}

/* Extra Extra Small Devices */
@media (max-width: 479px) {

	.col-xxs-12 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: left;
		width: 100%;
	}

	/* Header */
	.navbar-brand {
		padding-top: 10px;
	}
	.navbar-brand h1 { /* Restaurant Name */
		padding-top: 10px;
		font-size: 5vw;
	}
	#collapsable-nav a {/* Collapsed nav Menu Text */
		font-size: 1.2em;
	}
	#collapsable-nav a span {/* Collapsed nav menu glyph */
		font-size: 1em;
		margin-right: 5px;
	}
	/* End of Header */	
}